/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
  border-bottom: 2px dashed gray;
  padding: 0px 490px 40px 10px;
}
@media (max-width:500px) {
  h1 {
    display: flex;
    justify-content: center;
    margin: 40px -520px 0px -70px;
    padding: -10px 430px 20px -20px;
  }
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: flex-end;
}
@media (max-width:500px) {
  nav {
    justify-content: center;
    align-items: center;
    margin: 70px 30px -50px 30px;
    margin: 20px 0px -120px -30px;
  }
}
header nav a {
  margin: 48px 16px -28px 13px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
@media (max-width:500px) {
  header nav a {
    padding: 0px 30px 0px 10px;
    margin: 30px 20px 21px 10px;
    margin-bottom: 10px;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #fedbb7;
}
.footer p {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:500px) {
  .home .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 20px 20px;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width:500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .content-section p {
  border-bottom: 2px dashed grey;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed grey;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed grey;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .home .content-pick {
    margin: 30px 49px 50px -130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 164%;
    padding: 20px 11px 0px 0px;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick .destination .btn {
  padding: 10px 40px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: teal;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}
